/*----------------------------------------------
------Menu*/

.menu {
	background-image: url("../img/background-menu.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.menu__btn {
	transform: translateY(-1.5em);
}

/*----------------------------------------------
------Base*/
h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto';
}

p {
    font-family: 'Open Sans';
}


/*----------------------------------------------
------Variables*/

:root {
    --primary-color: #4F82E3;
    --secondary-color: #FE9471;
    --gradient-blue: linear-gradient(155.48deg, rgba(48, 198, 245, 0.82) 4.93%, rgba(79, 130, 227, 0.49) 78.7%), #4F82E3;
    --gradient-small-blue: linear-gradient(84.95deg, #30C6F5 -25.09%, rgba(79, 130, 227, 0.49) 125.89%), #4F82E3;
    --gradient-orange: linear-gradient(320.8deg, rgba(244, 49, 143, 0.88) -56.03%, #FE9471 72.1%), #FE9471;
    --text-color: #8190AE;
    --title-color: #203256;
    --invalid-color: #FF5A5A;
}


/*----------------------------------------------
------Layout*/







/*----------------------------------------------
------Objets*/










/*----------------------------------------------
------Composant*/
