/*----------------------------------------------
------Menu*/

.menu {
	background-image: url("../img/background-menu.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}

.menu__btn {
	transform: translateY(-1.5em);
}


/*----------------------------------------------
------Menu slide*/
.fix{
	position: fixed;
	overflow-x: scroll;
}

.swipe{
	display: flex;
}

.slide-menu {
	align-items: center;
	background: #fff;
	top: 102px;
    border: 1px solid #4F82E3;
    border-radius: 8px;
    box-shadow: 0px 4px 7px rgba(79, 130, 227, 0.1);
    width: 90px;
    height: 55px;
  
    text-decoration: none;
}

.menu__btn {
	transform: translateY(-1.5em);
}





/*----------------------------------------------
------Flickity*/
.flickity-enabled {
  position: relative;
  margin-bottom:10px;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  margin-bottom:10px;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom:10px;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/*-----*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery-cell {
  width: 28%;
  height: 60px;
  margin-right: 15px;
  background: #fff;
  border: 1px solid #4F82E3;
  border-radius: 8px;
  counter-increment: gallery-cell;
  box-shadow: 0px 4px 7px rgba(79, 130, 227, 0.1);
  margin-bottom:10px;
}

.slide-menu__p {
	font-size:10px;
	color: var(--primary-color);
	text-decoration: none;
	transform: translate(0px,2px);
	line-height:0px;
	text-align:center;
}


.slide-menu__picto {
	transform: translate(27px, 5px);
}

.decouverte {
	width: 37px;
}

.picto-libre {
	transform: translate(34px, 5px);
}

.picto-communication {
	transform: translate(30px, 5px);
}

.p-haut {
	transform: translate(0px,9px);
}

.p-haut-deux {
	transform: translate(0px,7px);
}


a {
	text-decoration: none;
}

/*.gallery-cell.is-selected {
  background: var(--gradient-orange);
  border:0px;
}*/

/*---------------------*/
button.flickity-button.flickity-prev-next-button.previous { display: none; }

button.flickity-button.flickity-prev-next-button.next { display: none; }

ol.flickity-page-dots { display: none; }



/*----------------------------------------------
------Base*/
h1, h2, h3, h4, h5, h6 {
    font-family:'Roboto';
}

p {
    font-family: 'Open Sans';
}


/*----------------------------------------------
------Variables*/

:root {
    --primary-color: #4F82E3;
    --secondary-color: #FE9471;
    --gradient-blue: linear-gradient(155.48deg, rgba(48, 198, 245, 0.82) 4.93%, rgba(79, 130, 227, 0.49) 78.7%), #4F82E3;
    --gradient-small-blue: linear-gradient(84.95deg, #30C6F5 -25.09%, rgba(79, 130, 227, 0.49) 125.89%), #4F82E3;
    --gradient-orange: linear-gradient(320.8deg, rgba(244, 49, 143, 0.88) -56.03%, #FE9471 72.1%), #FE9471;
    --text-color: #8190AE;
    --title-color: #203256;
    --invalid-color: #FF5A5A;
}


/*----------------------------------------------
------Layout*/







/*----------------------------------------------
------Objets*/










/*----------------------------------------------
------Composant*/
p {
	font-family: "Open Sans";
}